*{
    margin: 0;
    padding: 0;
}

.smallerNavbar{
    display: none;
    width: 100% !important;
    padding-left: 2%;
    padding-right: 2%;
    top: -1px;
    
    background-color:  rgb(36, 36, 36);
}

.largerNavbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    background-color:  rgb(36, 36, 36);
    font-weight: 400;
    /* justify-content: space-between;
    align-items:center; */
    /* position: sticky; */
    top: -1px;
    padding: 10px 3%;
    /* margin-top: 30px; */
    
    
}

.largerNavbar a{
    text-decoration: none;
    color: rgb(155, 155, 155)!important;
    
    
}

.navTags{
    width: 94%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    column-gap: 50px;
    margin-top: 10px;
}

#navBrandName{
    color: rgb(220, 218, 218)!important;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
}

#navBrandName:hover{
    color:  white !important;
    text-decoration: underline;
}

#currentTab{
    color: white !important;
}

.navTags a:hover{
    text-decoration: underline;
    color: white !important;
}


.liveSection{
    margin-top: 63px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 500px; */
    background-color: rgb(146, 48, 28);
    padding: 5% 5%;
}
.liveBox{
    width: 600px;
    border-right: 3px solid rgba(223, 221, 221, 0.402);
    padding-right: 50px;
    
}
#LiveVideoHeading{
    font-size: 20px;
    font-weight: 700;
    color:rgb(146, 48, 28);
    /* background-color: white; */
    width: fit-content;
    padding: 0px 10px;
    border-radius: 10px;
    animation: mymove 2.5s infinite;
}
@keyframes mymove {
   0%{
    background-color: white;
   }
   50%{
    background-color: rgba(255, 255, 255, 0.7);
   }
   100%{
    background-color: white;
   }
  }
#LiveVideo{
    width: 100%;
    aspect-ratio: 3/2;
    box-shadow: 0 12px 15px rgba(0, 0, 0, .9);
    border-radius: 8px;
}

#weatherBox{
    color: rgb(235, 231, 231);
    margin-left: 50px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, .9);
    border: none;
    
}

#locNameEntry{
    color: rgb(235, 231, 231);
    background-color: rgba(0, 0, 0, 0.319) ;
    border: 1px solid rgb(112, 36, 21);
    width: 87%;
    padding:4px 12px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 8px 0;
    display: inline;
     margin-right: -5px;
    
}
#submitButton{
    padding:4px 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgb(146, 48, 28);
    border-left: none !important;
    
}
#weatherBox h5{
    text-align: center;
}
#weatherBox img{
    display: inline;
}
#weatherDisplay{
    display: inline;
}
#weatherBox p{
    font-size: large;
    padding-left: 5px;
}
#locationName{
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 7px;
}

#temperature{
    font-weight: 500;
    font-size: xx-large !important;
}
@media screen and (max-width:700px) {
    .largerNavbar{
        display: none;
    }
    .smallerNavbar{
        display: block;
    }
}


/* @media screen and (max-width:1500px) {
    .liveSection{
        flex-direction: column;
        justify-content: center;
    }
   
    .liveBox{
        border-right: none  ;
        align-self: center;
        margin: 0 !important;
        padding: 0 !important;
        margin-bottom: 40px !important;
        align-content: center;
        align-items: center;
    }
    #weatherBox{
        
        align-self: center;
        margin: 0 !important;
        
        
        align-content: center;
        align-items: center;
        
    }
}

@media screen and (max-width:600px) {
   
    #LiveVideo{
        width: 400px !important;
        height: 250px !important;
    }
} */


.newsSection{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 500px; */
    
    padding: 5% 5%;
}

.leftNews{
    width: 600px;
    border-right: 3px solid rgba(146, 48, 28, 0.6);
    padding-right: 50px;
}
.carousel-inner{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .5);
    border-radius: 8px;
}
.carousel-inner img{
    width: 100% !important;
    
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, .9) !important; */
    border: none;
}
.carousel-inner p{
    font-weight: 500;
    background-color:rgba(146, 48, 28, 0.6);
    padding: 4px 8px;
    border-radius: 5px;

}

#accordionParent{
    margin-top: 60px;
    margin-bottom: 60px;
}
.accordion{
    
    box-shadow: 0 10px 15px rgba(0, 0, 0, .5);
    border-radius: 8px;
}
.boxHeadings{
    border-left: 2px solid rgba(146, 48, 28, 0.6);
    padding: 4px 8px;
    font-weight: 500 !important;
    margin-bottom: 15px;
}
.accordion-button:focus{
    background-color:  rgb(180, 48, 22);
    border: none !important;
    color: white !important;
}
.accordion-button:hover{
    cursor: pointer;
    background-color:  rgb(180, 48, 22,0.2);
    color: black !important;
}
#accordionPanelsStayOpenExample h2 button{
    color: rgb(152, 150, 150);
    font-weight: 500;
}

#accordionPanelsStayOpenExample a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#accordionPanelsStayOpenExample a button{
    background-color: rgb(180, 48, 22);
    color: white;
    /* font-size: 20px; */
    /* font-weight: 700; */
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .5);
    margin-bottom: 15px;

}
#accordionPanelsStayOpenExample a button:hover{
    background-color:rgb(142, 37, 17) ;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .5);
}



.rightNews{
    padding-top: 55px;
    margin-left: 50px;
    width: 400px;
    border-radius: 15px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, .9); */
    border: none;
    /* padding: 20px; */
}

.articleBox{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .5);
    border: none;
    border-radius: 8px;
    margin-bottom: 35px;
    padding-bottom: 12px;
}

.articleBox img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}
.articleBox p{
    padding: 0px 25px;
}
#articleTitle{
    padding-top: 15px;
    color: black;
    font-weight: 500;
    font-size: 17px;
    
}
#articleDescription{
    color: rgb(102, 102, 102);
}
.articleBox a{
    text-decoration: none;
}
.articleBox a:hover,#articleTitle:hover {
    color: rgb(187, 54, 27) !important;
}

@media screen and (max-width:1050px) {
    .liveBox{
        width: 71.5%;
        padding-right: 4.5%;
    }
    #weatherBox{
        margin-left: 4.5%;
    }
    .leftNews{
        width: 70%;
        padding-right: 4.5%;
    }
    .rightNews{
        margin-left: 4.5%;
    }
}

@media screen and (max-width:770px) {
    .liveSection{
        flex-direction: column;
    }
    .liveBox{
        width: 500px;
        border-right: none;
        /* padding-right: none; */
        align-self: center;
        margin-bottom: 60px;
        margin-left: 5%;
    }
    
    #weatherBox{
        margin-left: 0px;
        align-self: center;
        width: 400px;
        margin-bottom: 30px;
    }

    .newsSection{
        flex-direction: column;
        padding: 0;
        margin-top: 40px;
    }
    .leftNews{
        border: none;
        padding: none;
        align-self: center;
        width: 500px;
        margin-left: 5%;
    }
    .rightNews{
        margin-left: 0;
        align-self: center;
        margin-bottom: 30px;
        padding-top: 0;
    }
    
}
@media screen and (max-width:540px) {
    .liveBox{
        width: 98%;
        margin-left: 0;
    }
    #weatherBox{
        width: 95%;
        margin-left: 0;
    }
    .leftNews{
        width: 90%;
        margin-left: 2%;
    }
    .rightNews{
        width: 86%;
        margin-left: 0%;

    }
}

.countrySelector{
    background-color:  rgba(167, 55, 32, 0.9);
    padding: 5px 10px;
    border-radius: 7px;
    width: fit-content;
    margin-left: 10px;
    color:white;
    border: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
}

.countrySelector select{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 2px 5px;
    border-radius: 7px;
}
.countrySelector option{
    background-color:  rgba(167, 55, 32, 0.85);
    
}

#countrySelector{
    padding-left: 4px;
    padding-right: 2px;
}
#countrySelector:hover{
    cursor: pointer;
    
}
